<h1 class="text-center my-4">Create new bookmark</h1>

<div class="container">
  <%= simple_form_for [ @list, @bookmark ] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.button :submit, class: "btn btn-primary w-100 rounded mt-4" %>
  <% end %>
</div>
